.section

{
    background-color: #ddd;
    padding: 20px;
    margin:30px;
    border-radius: 20px;;
}
body
{
    background-color: darkgrey;
   
}
html
{
    box-sizing: border-box;
}
.score
{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 60px;

}
.start
{
    text-align: center;
    transition: opacity 0.5s ease 0.5s;
    
}
.btn
{
    background-color: black;
    color: antiquewhite;
    border-radius: 10px;
    width:80px;
    height: 30px;
    margin: 20px;
    cursor: pointer;
}
.btn:hover
{
    background-color: rgb(41, 48, 56);
    text-shadow: #ddd;
   
}
.match
{   

    transition: opacity 0.5s ease 0.5s;
    text-align: center;
    top: 50%;
    left: 50%;

}
.right
{
    transform: rotatey(180deg);
}
div.fadeout
{
    opacity: 0;
    pointer-events: none;
}
div.fadein
{
    opacity: 1;
    pointer-events: all;
}
